body{
  margin: 0;
  padding: 0;
}

.text-section{
  width: 100%;
  display: flex;
}

.text-section p{
  margin-left: 43%;
  font-size: 30px;
  cursor: default;
}

.text-section h4{
  width: 40px;
  height: 40px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 25px;
  margin-left: 35%;
  margin-top: 2%;
  transition: .4s;
  cursor: pointer;
}

.text-section h4:hover{
  background-color: rgb(147, 197, 197);
}

.text-section i{
  padding: 12px 12.5px 10px;
}


.box-card{
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
}

.title-section{
  font-size: 18px;
  margin-left: 5%;
  cursor: default;
}

.row{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  row-gap: 40px;
  margin-top: 25px;
  margin-left: 5%;
  margin-bottom: 10%;
}

.card{
  width: 80%;
  border: 1px solid silver;
  border-radius: 10px;
}

.img-show{
  width: 90%;
  margin-left: 3.5%;
  margin-top: 1%;
}

.img-show img{
  width: 300px;
  border-radius: 20px;
}

.text-show{
  width: 90%;
  margin-left: 5%;
}

.text-show p{
  padding-top: -5%;
  cursor: default;
}

.btn-show{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 4%;
}

.btnEdit{
  width: 50%;
  height: 30px;
  border: 1px solid rgb(172, 171, 171);
  border-radius: 20px;
  background-color: #EFB110;
  color: #ffffff;
  transition: .4s;
}

.btnEdit:hover{
  background-color: rgb(199, 199, 5);
}

.btndelete{
  width: 40%;
  height: 30px;
  border: 1px solid rgb(172, 171, 171);
  border-radius: 20px;
  background-color: rgb(243, 9, 9);
  color: rgb(255, 255, 255);
  transition: .4s;
}

.btndelete:hover{
  background-color: rgb(196, 5, 5);
}

#openForm{
  width: 50%;
  height: 100px;
  background-color: rosybrown;
  text-align: center;
}

.form-popup {
  width: 30%;
  position: fixed;
  top: 2%;
  margin-left: 35%;
  border: 1px solid #888686;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: none;
}

.text-header h3{
  text-align: center;
  font-size: 18px;
  cursor: default;
}

.text-header img{
  width: 60%;
  height: 150px;
  margin-left: 21%;
  margin-top: -2%;
  border-radius: 15px;
}

.text-header input{
  margin-left: 35%;
  margin-top: 1.5%;
}

.form-field p{
  margin-left: 15%;
  cursor: default;
}

.form-field input{
  width: 65%;
  height: 28px;
  border: 1px solid rgb(133, 132, 132);
  border-radius: 20px;
  padding-left: 15px;
  margin-left: 15%;
  transition: .4s;
}

.form-field input:focus{
  outline: none;
  border: 2px solid rgb(139, 139, 139);
}

.form-btn{
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
}

.form-btn button{
  width: 40%;
  height: 30px;
  color: white;
  border-radius: 15px;
  border: 1px solid rgb(145, 145, 145);
  cursor: pointer;
}

.btnCf{
  background-color: #1d9e11;
  margin-left: 10%;
  transition: .4s;
}

.btnCf:hover{
  background-color: #146d0c;
}

.btnCancel{
  background-color: rgb(243, 9, 9);
  margin-left: 2%;
  transition: .4s;
}

.btnCancel:hover{
  background-color: rgb(196, 5, 5);
}
.form-btn-edit button{
  width: 20%;
  height: 30px;
  color: white;
  border-radius: 15px;
  border: 1px solid rgb(145, 145, 145);
  cursor: pointer;
  margin-left: 20%;
  margin-top: 2%;
}
.form-container-edit{
  width: 40%;
  margin-left: 30%;
}


