 .footer{
   width: 100%;
   margin-top: 10%;
   background-color: #E3EBED;
   display: flex;
 }

 .sectionA{
   width: 30%;
   margin-left: 5%;
 }

 .sectionB{
  width: 30%;
  margin-left: 5%;
}

.sectionC{
  width: 30%;
  margin-left: 5%;
}

  @media screen and (max-width: 360px){
    .footer {
      height: 150px;
    }

    .sectionA h5{
      font-size: 14px;
    }

    .sectionA p{
      font-size: 12px;
    }

    .sectionB p{
      font-size: 12px;
    }

    .sectionC p{
      font-size: 12px;
    }
  }