.card {
  margin: 60px 60px 60px;
  background-color: rgb(233, 233, 233);
  float: left;
  font-size: 17px;
}
.carousel-1{
  margin-left: 55%;
  margin-bottom: 5%;
  margin-top: 2.3%;
  margin-right: 60px;
}
.google-map{
  float: left;
  margin: 60px;
  margin-top: 0%;
}
.card-2{
  background-color: rgb(233, 233, 233);
  margin-left: 55%;
  font-size: 17px;
}

