.navbar{
    width: 100%;
    height: 55px;
    background-color: #E3EBED;
    display: flex;
  }
  
  .logo{
    width: 5%;
  }
  
  .logo img{
    width: 60%;
    margin-left: 8%;
    margin-top: -10%;
  }
  
  .menu-section{
    width: 75%;
    margin-left: 3%;
    display: flex;
  }
  
  .menu-section p{
    padding-left: 30px; 
  }
  
  .menu-section a{
    text-decoration: none;
    color: black;
  }
  
  .showuser{
    width: 15%;
    display: flex;
    margin-left: 2%;
  }
  
  .imguser img{
    width: 35px;
    border-radius: 20px;
    margin-top: -8%;
    
  }
  
  .showuser a{
    text-decoration: none;
    color:  #3c5355;
    
  }
   .showuser .logout{
    
    border: 1px solid #3f3d3d ;
    border-radius: 30px;
    width: 40%;
    
    height: 40px;
    margin-top: -5%;
    margin-left: 50%;
    transform: 4s;
  }
  
  
  .showuser .logout p{
    text-align: center;
    margin-top: 5px;
  } 